[Desktop Entry]
Encoding=UTF-8
Name=System auditor
Name[ru]=Системный аудитор
Comment[ru_RU]=Составляет отчёт об аппаратном обеспечении и установленных операционных системах
Comment=Scan PC and report about hardware and operating systems found
Exec=/usr/bin/sca-systemauditor
Icon=/usr/share/pixmaps/audition.png
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;
X-Kali-Package=sca-systemauditor
